/* The side navigation menu */
.pg_sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: visible; /* Disable horizontal scroll  do not work with dragable*/
    overflow-y: auto;
    padding: 10px 0px; /* Place content 10px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 11px 0px rgba(0,0,0,0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(drop-image-white.png);
}

.multipleTemplate-tutostep .formmediagallery .ui-sortable-placeholder {
    width: 31.33% !important;
    border: 2px dotted #eee !important;
    visibility:unset !important;
    background:#fff !important;
    background-image: none !important;
}

.multipleTemplate-tutostep .formmediagallery .ui-sortable-placeholder img,
.multipleTemplate-tutostep .formmediagallery .ui-sortable-placeholder video {
    display:none;
}

.col-pic-detail.ui-droppable {
    background: #f8f8f8;
    padding-bottom: 6px;
}

.pg_sidebar .PageGalleryTitle {
    color: #FFF;
    margin-bottom: 15px;
    font-size: 115%;
    text-align:center;
}
.pg_sidebar .PageGallerysubTitle {
	color:#FFF;
	text-align:center;
	margin-left:5px;
	font-size:90%;	
}

#PageGallery #PageGalleryUploader {
	min-height: calc(100% - 53px);
}

#PageGallery {
	left:-250px;
	width:250px;
}

#PageGallery {
    transition: left .8s;
}
body {
    transition: margin-left .8s;
}

.pageGalleryControls {
    background: #222 url(images/gallery.png) no-repeat;
    background-position: right;
    position: fixed;
    top: 67px;
    z-index: 100;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 42px;
    height: 35px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.2s;
}

.pageGalleryControls:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.4);
}

.pg_sidebar .msupload-list .green,
.pg_sidebar .msupload-list .file {
	width:100%;
	padding:0px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.pg_sidebar .msupload-list .green:active,
.pg_sidebar .msupload-list .file:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#draggableTempUl {
    position: relative !important;
}

#draggableTempUl .ui-draggable {
	width:150px;
	display: block;
    z-index:1001 !important
}

#draggableTempUl .ui-draggable .file-thumb {
	width: 100%;
}

.ui-droppable-active {
	border: solid 1px #008; 
}

.ui-droppable-active.ui-state-hover {
    border: solid 1px #00F; 
}

.col-xs-12.ui-droppable {
	padding: 0px;
    background: #f8f8f8;
}

.formmediagallery ul {
    padding: 0px;
    margin: -5px;
    float: left;
    width: 100%;
}

.msuploadOneImage .formmediagallery li {
    width: 100%;
    height: 200px;
    margin: 0px;
}

.formmediagallery li div {
	width:100%;
	height:100%;
}

.formmediagallery li, .formmediagallery .empty-slot {
    display: inline-block;
    position: relative;
    width: 31.33%;
    margin: 5px;
    height: 100px;
    overflow: hidden;
    background: #f1f1f1;
    border-radius: 3px;
    vertical-align: top;
    border: 1px solid #ddd;
}

.formmediagallery .empty-slot {
    background: #fff;
    border: 1px solid #fff;
}

.formmediagallery .mw-ia-editButton, .formmediagallery li .file-cancel {
	display:none;
	opacity:0;
  	transition:opacity 0.1s linear;
}

.formmediagallery li:hover .mw-ia-editButton,
.formmediagallery li:hover .file-cancel {
	display:block;
	opacity:0.6;
}

.formmediagallery li:hover .mw-ia-editButton:hover,
.formmediagallery li:hover .file-cancel:hover {
    opacity:1;
}

.msuploadContainer .formmediagallery .buttonBar {
	float: right;
	margin: 5px 5px 0px 0px;
}

.msuploadContainer .uploadButton:hover {
	cursor:pointer;
}

.formmediagallery li:hover {
	border: 2px solid rgb(11, 133, 161);
	cursor: move;
}

.msuploadContainerTall .formmediagallery li:hover {
    border: 1px solid #ddd;
    cursor: initial;
}

.formmediagallery li img,
.formmediagallery li video {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: 50% 50%;
}
.formmediagallery li .thumbimage {
	display:none;
}

.formmediagallery li .file-buttonbar {
    height: 36px;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 100px;
}

.formmediagallery .ui-sortable-helper {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.formmediagallery li .file-cancel {
    background: url(images/msu-close.png) #fff no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 32px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 32px;
    border-radius: 50px;
}

.formmediagallery .tempFileLoader {
	background: url(images/upload.png) no-repeat center center;
    width: 100%;
    height: 100%;
}

.msuploadContainer .errorMessage{
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-bottom: 3px;
	font-size:1em;
}

.msuploadContainer .buttonBar {
    text-align: right;
    float: right;
    padding-top: 3px;
    margin-right: 1px;
    margin-left: 5px;
    z-index: 0;
    position: relative;
}

.msuploadContainer .buttonBar a.btn {
    vertical-align: top;
    padding: 3px 9px 3px 3px;
    margin-right: 5px;
}

.msuploadContainer .buttonBar a.btn .fa {
    width: 23px;
}

.msuploadContainer .buttonBar .select-file {
	display:inline-block;
    background: url(images/msu-upload-button.png) no-repeat 1px 2px;
    width: 32px;
    height: 29px;
    cursor: pointer;
}
.msuploadContainer .uploadButton.loading {
	background: #337ab7 url(images/msu-loading.png) no-repeat 7px 8px ;
}
.msuploadContainer .uploadButton {
    padding: 4px 8px 4px 30px;
    margin: -2px 5px 0 5px;
	float:left;
    background: url(images/msu-upload-icon.png) no-repeat 5px 4px;
    background-color: #337ab7;
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    display:inline-block;
}
.msuploadContainer .uploadButton:hover {
    text-decoration: none;
    background-color: #2b6e87;
}

.dropHelp {
	display:block;
	text-align:center;
    margin-top: 9px;
}

.pfImagePreviewWrapper canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.fileToBeUpload .pfImagePreviewWrapper {
    opacity: 0.5;
}

.pfImagePreviewWrapper .msu-progress-bar {
    border: 1px solid grey;
    background-color: white;
    height: 22px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.pfImagePreviewWrapper .msu-progress-bar-progress {
    background-color: #52bad5;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
}

.formmediagallery .unsortable:hover{
    cursor: initial;
}

.add-new-file-slot:after {
    content: '';
    width: 38px;
    height: 100%;
    background-color: #69b8d2;
    display: block;
    -webkit-mask: url(/w/extensions/PageMediaGallery/modules/images/msu-add-media.svg) no-repeat 50% 50%;
    mask: url(/w/extensions/PageMediaGallery/modules/images/msu-add-media.svg) no-repeat 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    margin: auto;
}

.formmediagallery div.add-new-file-slot{
    display: inline-block;
    position: relative;
    width: 31.33%;
    margin: 5px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    background: #f1f1f1;
    border-radius: 3px;
    background-color: #f3fdff;
    border: 2px solid #a5e9fa;
    vertical-align: top;
    transition: 0.15s;
}

.formmediagallery div.add-new-file-slot:hover{
    cursor: pointer;
    background-color: #e4faff;
    border: 2px solid #52bad5;
}

.formmediagallery div.add-new-file-slot:hover:after {
    opacity:1;
}

#MediaManager .modal-content {
    float: left;
    width: 100%;
}

#MediaManager .modal-header {
    text-align: center;
}

#MediaManager .search-input {
    padding: 10px 15px 10px;
    border-bottom: 1px solid #ddd;
}

#MediaManager .search-input input {
    width: 100%;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px 0 33px;
}

#MediaManager .search-content {
    max-height: 420px;
    min-height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 7px;
    background: #f9f9f9;
}

#MediaManager .search-content .image {
    height: 150px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

#MediaManager .search-content .image img, #MediaManager .search-content .image label {
    display: block;
}

#MediaManager .search-content .image img {
    height: 100%;
}

#MediaManager .search-content .image label {
    text-align: center;
    background-color: black;
    opacity: 0.6;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: auto;
    color: white;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    font-weight: normal;
    width: 100%;
    font-size: 14px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#MediaManager .image video {
    width: auto;
    height: 100%;
}

#MediaManager .image.toAddToPage {
    border: 3px solid blue;
}

#MediaManager .modal-header .cancel-container {
    width: auto;
    left: 15px;
    position: absolute;
}

#MediaManager .modal-header .btn {
    padding: 4px 10px;
    margin-top: -2px;
}

#MediaManager .modal-header .cancel-container .btn {
    background-color: #fff;
    border: 1px solid #999;
    color: #888;
}

#MediaManager .modal-header .cancel-container .btn:hover,
#MediaManager .modal-header .cancel-container .btn:focus,
#MediaManager .modal-header .cancel-container .btn:active:focus {
    background-color: #f9f9f9;
    outline: 0;
}

#MediaManager .modal-header .insert-to-page-container .btn-primary[disabled]:hover {
    background-color: #52bad5;
    border-color: transparent;
    opacity: 0.5;
}

#MediaManager .modal-header .insert-to-page-container .btn-primary:focus,
#MediaManager .modal-header .insert-to-page-container .btn-primary:active:focus {
    background-color: #2c9ab7;
    border-color: transparent;
    outline: 0;
}

#MediaManager .modal-header .insert-to-page-container {
    width: auto;
    right: 15px;
    position: absolute;
}

#MediaManager .modal-header .modal-title{
    text-align: center;
    width: 100%;
    padding: 0 10px;
}

#MediaManager #tabContent {
    background: #fafbfc;
    padding: 6px 15px 0;
    margin-bottom: 0px;
}

#MediaManager .nav-tabs > li > a {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.1;
}

#MediaManager .nav-tabs > li.active > a {
    color: #30373b;
}

.nav > li > a:hover, .nav > li > a:focus {
    border-color: transparent;
    background-color: transparent;
    outline: 0;
}

#MediaManager .search-input:before {
    content: "\f002";
    font-family: fontawesome;
    float: left;
    width: 34px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3em;
    position: absolute;
    image-rendering: pixelated;
    opacity: 0.3;
}

#MediaManager #MediaManagerUploader {
    padding: 15px 15px 15px;
    float: left;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 520px;
}

#MediaManager .msupload-dropzone {
    min-height: 70px;
}

#MediaManager .tab-content {
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

@media (min-width: 768px) {
#MediaManager .modal-dialog {
    width: 100%;
    max-width: 750px;
}
}

.no-more-result {
    margin: 10px;
	text-align: center;
}
.load-more-content {
    height: 30px;
    margin: 10px;
    text-align: center;
}















