/* The side navigation menu */
.pg_sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: visible; /* Disable horizontal scroll  do not work with dragable*/
    overflow-y: scroll;
    padding: 10px 0px; /* Place content 10px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 11px 0px rgba(0,0,0,0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(drop-image-white.png);
}

.col-pic-detail.ui-droppable {
    background: #f8f8f8;
    padding-bottom: 6px;
}

.pg_sidebar .PageGalleryTitle {
    color: #FFF;
    margin-bottom: 15px;
    font-size: 115%;
    text-align:center;
}
.pg_sidebar .PageGallerysubTitle {
	color:#FFF;
	text-align:center;
	margin-left:5px;
	font-size:90%;	
}

#PageGallery #PageGalleryUploader {
	min-height:100%;
}

#PageGallery {
	left:-250px;
	width:250px;
}

#PageGallery {
    transition: left .8s;
}
body {
    transition: margin-left .8s;
}

.pageGalleryControls {
    background: #222 url(images/gallery.png) no-repeat;
    background-position: right;
    position: fixed;
    top: 67px;
    z-index: 100;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 42px;
    height: 35px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: 0.2s;
}

.pageGalleryControls:hover {
    box-shadow: 0 0 7px rgba(0,0,0,.4);
}

.pg_sidebar .msupload-list .green,
.pg_sidebar .msupload-list .file {
	width:100%;
	padding:0px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.pg_sidebar .msupload-list .green:active,
.pg_sidebar .msupload-list .file:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#draggableTempUl .ui-draggable {
	width:150px;
	display: block;
}
#draggableTempUl .ui-draggable .file-thumb {
	width: 100%;
}

.ui-droppable-active {
	border: solid 1px #008; 
}
.ui-droppable-active.ui-state-hover {
    border: solid 1px #00F; 
}

.col-xs-12.ui-droppable {
	padding: 0px;
    background: #f8f8f8;
}

.formmediagallery{
	padding:2px 0 2px 2px;
}
.formmediagallery ul{
	margin:0px;
	padding:0px;	
}
.formmediagallery li:first-child {
	width: 99%;
	height: auto;
}

.formmediagallery .mw-ia-editButton, .formmediagallery li .file-cancel {
	display:none;
	opacity:0;
  	transition:opacity 0.1s linear;
}

.formmediagallery li:hover .mw-ia-editButton,
.formmediagallery li:hover .file-cancel {
	display:block;
	opacity:0.6;
}

.formmediagallery li:hover .mw-ia-editButton:hover,
.formmediagallery li:hover .file-cancel:hover {
    opacity:1;
}

.msuploadContainer .formmediagallery .buttonBar {
	float: right;
	margin: 5px 5px 0px 0px;
}

.msuploadContainer .uploadButton:hover {
	cursor:pointer;
}

.formmediagallery li:hover {
	border: 1px solid rgb(11, 133, 161);
	cursor: move;
}

.formmediagallery li {
	display: inline-block;
	position: relative;
	width: 19%;
	margin: 0% 0.5%;
	border: 1px solid #ccc;
	height: 76px;
	overflow: hidden;
	background: #f1f1f1;
}
.formmediagallery ul li {
	min-height: 42px;
}
.formmediagallery li img {
	width:100%;
	min-height: 74px;
	height:auto;
}
.formmediagallery li .thumbimage {
	display:none;
}

.formmediagallery li .file-buttonbar {
    height: 36px;
    position: absolute;
    right: 5px;
    top: 6px;
    width: 100px;
	
}
.formmediagallery li .file-cancel {
    background: url(images/msu-close.png) #fff no-repeat;
    background-position: center;
    cursor: pointer;
    float: right;
    height: 32px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 32px;
    border-radius: 50px;
}

.formmediagallery{
	min-height:100px;
}

.formmediagallery .tempFileLoader {
	background: url(images/upload.png) no-repeat center center;
    width: 100%;
    height: 100%;
}
.formmediagallery .tempFileLoader:before{
	content: "";
	display: block;
	padding-top: 66%; 	/* initial ratio of 3:2*/
}

.msuploadContainer .errorMessage{
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-bottom: 3px;
	font-size:1em;
}

.msuploadContainer {
	background: #f9f9f9;
    padding-bottom: 10px;
}

.msuploadContainer .buttonBar {
    text-align: right;
    float: right;
    padding-top: 3px;
    margin-right: 1px;
    margin-left: 5px;
    z-index: 0;
    position: relative;
}

.msuploadContainer .buttonBar a.btn {
    vertical-align: top;
    padding: 3px 9px 3px 3px;
    margin-right: 5px;
}

.msuploadContainer .buttonBar a.btn .fa {
    width: 23px;
}

.msuploadContainer .buttonBar .select-file {
	display:inline-block;
    background: url(images/msu-upload-button.png) no-repeat 1px 2px;
    width: 32px;
    height: 29px;
    cursor: pointer;
}
.msuploadContainer .uploadButton.loading {
	background: #337ab7 url(images/msu-loading.png) no-repeat 7px 8px ;
}
.msuploadContainer .uploadButton {
    padding: 4px 8px 4px 30px;
    margin: -2px 5px 0 5px;
	float:left;
    background: url(images/msu-upload-icon.png) no-repeat 5px 4px;
    background-color: #337ab7;
    border:none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    display:inline-block;
}
.msuploadContainer .uploadButton:hover {
    text-decoration: none;
    background-color: #2b6e87;
}

.msupload-bottom {
	margin:0 5px 10px 5px;
}

.dropHelp {
	display:block;
	text-align:center;
    margin-top: 9px;
}
